* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }

  
  button {
    background-color: rgb(97, 32, 158);
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    height:  2.5rem;
    width: 30%;
    margin: 0.5rem 0rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-top: 0.1%;
  }

  .category {
    display: flex;
  }

  .category button {
    background-color: rgb(243, 61, 6);
    border-radius: 5px;
    border: 2px solid rgb(243, 61, 6);
    color: white;
    font-size: 0.5rem;
    outline: none;
    padding: 5px 10px;
    height: 1.5rem;
    width: 20%;
    margin: 0.7rem 0.5rem;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }